In [1]:
import pandas as pd

In [67]:
df = pd.read_csv("tweets_data.csv")

In [68]:
df.head()

,Unnamed: 0,Unnamed: 0.1,userid,tweetid,text,timestamp,location,Country,Country_new,state
0,0,0,60730027,6.320673e+09,@thediscovietnam shit it ain't lettin me DM yo...,2009-12-03 18:31:01,Los Angeles,"Los Angeles, Los Angeles County, California, U...",United States of America,California
1,1,1,60730027,6.319872e+09,"@thediscovietnam hey cody, quick question...ca...",2009-12-03 18:01:51,Los Angeles,"Los Angeles, Los Angeles County, California, U...",United States of America,California
2,2,2,60730027,6.318152e+09,@smokinvinyl dang. you need anything? I got ...,2009-12-03 17:00:16,Los Angeles,"Los Angeles, Los Angeles County, California, U...",United States of America,California
3,3,3,60730027,6.317933e+09,"maybe i'm late in the game on this one, but th...",2009-12-03 16:52:36,Los Angeles,"Los Angeles, Los Angeles County, California, U...",United States of America,California
4,4,4,60730027,6.317701e+09,i really hope A.I. makes the most of this seco...,2009-12-03 16:44:37,Los Angeles,"Los Angeles, Los Angeles County, California, U...",United States of America,California

In [69]:
df['text'] = df.groupby(['userid'])['text'].transform(lambda x: '~~'.join(x))

In [70]:
df =df.drop(['timestamp','Unnamed: 0','tweetid','timestamp','location','Country','Country_new'],axis=1)

In [71]:
df1 = df.groupby("userid").filter(lambda x: len(x) > 50)

In [72]:
len(df1)

1127764

In [76]:
df1 = df1.drop(["Unnamed: 0.1"],axis=1)

In [77]:
df1 = df1.drop_duplicates()

In [75]:
df1.head()

,Unnamed: 0.1,userid,text,state
0,0,60730027,@thediscovietnam shit it ain't lettin me DM yo...,California
1,1,60730027,@thediscovietnam shit it ain't lettin me DM yo...,California
2,2,60730027,@thediscovietnam shit it ain't lettin me DM yo...,California
3,3,60730027,@thediscovietnam shit it ain't lettin me DM yo...,California
4,4,60730027,@thediscovietnam shit it ain't lettin me DM yo...,California

In [78]:
len(df1)

12713

In [82]:
df2 = df1.groupby("state").filter(lambda x: len(x) > 50)

In [85]:
len(df2['state'].unique())

31

In [86]:
df2.to_csv("tweets_grouped.csv")